/* 
vh is a static unit equal to the size of the viewport when the browser UI is
in its smallest shape

In 2021 the new CSS units were accepted int the CSS spec

So, now we have lange (lvh), small (svh), dynamic (dvh) and traditional vh units.
- lvh and lvw are essentially how the vh unit currently acts (browser smallest shape)
- svh gives you units that you can use to fill the screen when the browser UI is at
its largest, and the website's content is at its smallest.


So, when you first load a webpage on your mobile device and the browser UI is at its
biggest size, meaning you viewport is at its smallest untill you begine to scroll down,
if you set your min-height to be using vh or lvh, it might overflow under the browser's
UI. If you use svh it is guaranteed that your content will fit the available viewport
while the browser's largest UI.
 */
.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
  font-family: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.pageHeader {
  border: 1px solid red;
  width: 100%;
  display: grid;
  grid-template-columns: 300px 1fr 300px;
  grid-template-rows: 50px 50px;
  grid-template-areas: 
    "segNav logo actionsPanel"
    "prodCatsGroupsNav prodCatsGroupsNav productsSearch";
  justify-items: center;
}

.headerLogo {
  justify-self: center;
  display: flex;
  align-items: center;
}

.headerActionsPanel {
  justify-self: end;
  grid-area: actionsPanel;
}

.productCategoriesGroupsNav {
  grid-area: prodCatsGroupsNav;
}

.productsSearch {
  grid-area: productsSearch;
}

.main {
  height: 100%;
  width: 70%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}

.main ol {
  font-family: var(--font-geist-mono);
  padding-left: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  list-style-position: inside;
}

.main li:not(:last-of-type) {
  margin-bottom: 8px;
}

/* ctas means Calls to Action */
.ctas {
  display: flex;
  gap: 16px;
}

.ctas a {
  appearance: none;
  border-radius: 128px;
  height: 48px;
  padding: 0 20px;
  border: none;
  border: 1px solid transparent;
  transition:
    background 0.2s,
    color 0.2s,
    border-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

a.primary {
  background: var(--foreground);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--gray-alpha-200);
  min-width: 180px;
}

.customerTypeSegregationNav {
  display: block;
  grid-area: segNav;
}

.footer {
  grid-row-start: 3;
  display: flex;
  gap: 24px;
}

.footer a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer img {
  flex-shrink: 0;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .pageHeader {
    grid-template-columns: 1fr 200px;
  }

  .headerLogo {
    justify-self: start;
    grid-area: logo;
  }

  .main {
    align-items: center;
    width: 100%;
  }

  .main ol {
    text-align: center;
  }

  .ctas {
    flex-direction: column;
  }

  .ctas a {
    font-size: 14px;
    height: 40px;
    padding: 0 16px;
  }

  a.secondary {
    min-width: auto;
  }

  .customerTypeSegmentNavigation {
    display: none;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}
